APP_NAME="Nopal A1 Inventory"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DATABASE_URL=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=
DB_SSLMODE=
DB_CHANNEL_BINDING=

SESSION_DRIVER=file
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=inventory@example.com
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost/auth/google/callback

DOKU_SANDBOX=true
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_PAYMENT_DUE_DATE=60
