APP_NAME="Nopal A1 Inventory"
APP_ENV=local
APP_KEY=base64:/K7URblT6mpgAGzEQz4QgHdlMnm1CeY4Nkpp1AxRnyM=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DATABASE_URL="postgresql://neondb_owner:npg_aH9SQbDCg4Op@ep-blue-glade-ap47rp3k.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_HOST=ep-blue-glade-ap47rp3k.c-7.us-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_aH9SQbDCg4Op
DB_SSLMODE=require
DB_CHANNEL_BINDING=require

SESSION_DRIVER=file
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=inventory@example.com
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost/auth/google/callback